.page {
  width: 100%;
  height: fit-content;
  z-index: 1;
  top: 0;
  left: 0;
}

.page_event_banner {
    background-image: url('/images/image_1.png');
    background-size: cover;
    background-position-y: 57%;
    background-position-x: center;
    height: 410px;
    width: 100%;
    position: absolute;
    top: 0;
}

.page_event_banner__overlay {
    height: 410px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #242120 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.page_event_banner__overlay2 {
    position: absolute;
    height: 410px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg,rgba(36, 33, 32, 0) 0%, rgba(36, 33, 32, 0.3) 70%, rgba(36, 33, 32, 1) 100%);
    z-index: 1;
}

.page_content {
    position: relative;
    z-index: 3;
    width: 1440px;
    margin: 0 auto;
    margin-top: 300px;
}

.page_content h4 {
    background: linear-gradient(90deg, rgba(225, 124, 96, 1), rgba(255, 147, 119, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;  
}


.page_content__header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    margin-top: -40px;
    justify-content: space-between;
}

.page_content__header h2 {
    background: linear-gradient(90deg, rgba(225, 124, 96, 1), rgba(255, 147, 119, 1));
    font-size: 56px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;  
}

.page_content__cards {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.page_content__details {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 42px;

}
.page_content__details__text {
    display: flex;
    flex-direction: column;
    width: 793px;
    margin-top: 16px;
    gap: 16px;
}

.page_content__details__tags {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    flex-wrap: wrap;
}

.page_content__details__link {
    margin-top: 16px;
}

.page_content__events_near {
    position: relative;
    margin-top: 40px;
}
.particles {
  position: absolute;
  inset:-16px;
  z-index: 0;
  pointer-events: none;
}

.particles span{
  --x: calc(var(--seed) * 100%);        
  --ty: calc((var(--seed)) * -400px);         
  --delay: calc(var(--seed) * 2s); 
  position: absolute;
  display: block;
  bottom: 0;
  left: var(--x);
  width: 6px;
  height: 12px;
  background: #e75e1f;
  border-radius: 50%;
  box-shadow: 0px 0px 80px 8px #ffab0f;
  opacity: 0.5;
  animation: spark 1s infinite linear backwards;
  animation-delay: var(--delay);
}

.particles span:nth-child(even) {
    --rx: calc((var(--seed)) * -20deg);
    --tx: calc((var(--seed) - 0.5) * -200px);      
}
.particles span:nth-child(odd) {
    --rx: calc((var(--seed)) * 20deg);
    --tx: calc((var(--seed) - 0.5) * 200px);      
}

@keyframes spark {
  0% {
    transform: translate(0,0) rotate(0deg) scale(0.5);
    opacity: 1;
  }
  25% {
    transform: translate(calc(var(--tx) / 4), calc(var(--ty) / 4)) rotate(calc(var(--rx) / 4)) scale(0.7);
    opacity: 0.8;
  }
  50% {
    transform: translate(calc(var(--tx) / 2), calc(var(--ty) / 2)) rotate(calc(var(--rx) / 2)) scale(0.9);
    opacity: 0.6;
  }
  75% {
    transform: translate(calc(3 * var(--tx) / 4), calc(3 * var(--ty) / 4)) rotate(calc(3 * var(--rx) / 4)) scale(1);
    opacity: 0.3;
  }
  100% {
    transform: translate(var(--tx), var(--ty)) rotate(var(--rx)) scale(1);
    opacity: 0;
  }
}

.page_content__events_near::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background-size: auto;
  transform: rotate(180deg);
  pointer-events: none;
  z-index: 0;
  mix-blend-mode: lighten;
  padding-bottom: 80px;
}

.page_content__events_near::before {
  content: "";
  position: absolute;
  top: -50px;  /* start slightly off */
  left: -50px;
  width: 120%; /* slightly bigger to allow movement */
  height: 120%;
  background: 
    radial-gradient(1200px 400px at 50% 100%, #882A11, transparent 100%),
     radial-gradient(800px 300px at 20% 80%, #e74a1f, transparent 100%);
  filter: blur(150px);
  z-index: -1;

	animation: backlight 1s ease-in-out infinite alternate;


}
@keyframes backlight{
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(120px) translateY(40px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.page_content__events_near h4 {
    margin-bottom: 20px;
}

.page_content__datetimes {
    width: 1200px;
    margin: 0 auto;
    margin-top: 36px;
}

.page_content__datetimes h4 {
    margin-bottom: 16px;
}

.page_content__datetimes__cards {
    display: flex;
    overflow: hidden;
    gap: 26px;
}

.page_content__location {
    padding-top: 36px;
    max-width: 1200px;
    margin: 0 auto;
}

.page_content__location__address{
    margin-top: 16px;
    margin-bottom: 24px;

}
.page_content__location__address p:nth-child(1) {
    font-size: 18px; 
    font-weight: 700;
    letter-spacing: .72px;
}

.page_content__location__address p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    margin-top: 6px;
    letter-spacing: .64px;
}
