.button {
    position: relative;
    border-radius: 33px;
    background-color: rgba(255, 255, 255, .1);
    padding-inline: 26px;
    height: 46px;
    border: none;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px; 
    background: linear-gradient(45deg, #C34F31, #761E08);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
}

.button p {
    font-weight: bold;
}

.button_secondary {
    position: relative;
    border-radius: 33px;
    background-color: transparent;
    padding-inline: 26px;
    height: 46px;
    border: none;
    background: linear-gradient(110deg, #761E08, #C34F31);
    z-index: 1;
}

.button_secondary::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px; 
    background: linear-gradient(45deg, #C34F31, #761E08);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
}

.button_secondary p {
    font-size: 16px;
    font-weight: bold;
}