.location_card iframe {
    width: 780px;
    height: 380px;
    border-radius: 12px;
}

@media screen and (max-width: 640px) {
    .location_card iframe {
        width: 100%;
        height: 214px;
    }
}