.navigation {
    gap: 32px;
    width: 239px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.navigation_mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 18px;
}

@media screen and (max-width: 640px) {
    .navigation {
        display: none;
    }
}