.searchbar {
    position: relative;
    width: 442px;
    height: 46px;
    margin-right: 251px;
    border-radius: 33px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}

.searchbar_input {
    background: none;
    border-radius: 33px;
    padding-left: 18px;
    border: none;
    outline: none;
    width: 442px;
    height: 100%;
}

.searchbar::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(45deg, rgba(168, 77, 52, .25), rgba(255, 147, 119, .25));
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    pointer-events: none;
}

@media screen and (max-width: 640px) {
    .searchbar {
        width: 100%;
    }
}