@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
  --background: #242120;
  --foreground: #FFFFFF;
}

body, html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: var(--background);
}

h1, h2, h3, p {
  color: var(--foreground);
  cursor: default;
}

h1, h2, h3, h4 {
  font-family: "Jersey 10";
  font-weight: normal;
}

h2 {
  font-size: 60px;
  letter-spacing: 2.4px;
}

h1 {
  font-size: 90px;
  letter-spacing: 3.6px;
}

h3 {
  font-size: 48px;
  letter-spacing: 1.92px;
}

h4 {
  font-size: 40px;
}

p {
  font-family: "Quicksand";
  font-size: 16px;
}

input::placeholder {
  color: var(--foreground); 
  font-size: 14px;
  font-family: "Quicksand";
}

a {
  font-family: "Quicksand";
  font-size: 16px;
  text-decoration: none;
  color: var(--foreground)!important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}