.events_near {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

@media screen and (max-width: 640px) {
    .events_near {
        margin-bottom: 40px;
    }
}
