.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero_overlay__first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(217, 217, 217, 0.2) 0%,
        #242120 90%
    );
    z-index: 1;
}

.hero_overlay__second {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .20) 50%, rgba(127, 48, 4, .25) 60%, rgba(36, 33, 32, 1));
    z-index: 1;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hero_content {
    margin-top: 80px;
    width: 355px;
}