.news {
    margin: 0 auto;
    width: 1200px;
    margin-top: 30px;
}

.news_cards {
    display: flex;
    gap: 30px;
    margin-bottom: 24px;
}

@media screen and (max-width: 640px) {
    .news {
        margin-top: 16px;
        width: unset;
    }

    .news_cards {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 26px;
    }
    
}
